

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-image: url(—Pngtree—flat\ dark\ programming\ code\ scrambling_990720.png);
  background-size: cover;
  color: white;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 10px;
  margin: 0;
  padding-top: 0px;
  
}

textarea {
  display: flex;
  background-color: rgb(34, 205, 8);
  flex-wrap: wrap;
  text-align: center;
  block-size: 100px;
  width:100%;
  font-size: xx-large;
  border: 2px dashed rgb(5, 218, 255);
  
  color: rgb(0, 0, 0);
}

h1 {
  color: white;
  font-size: 80px;
}

h2 {
  color:rgb(4, 255, 4);
  font-size: 40px;
  
}

.card {
background: linear-gradient(rgb(55, 55, 55), black, rgb(55, 55, 55));
border: 3px solid rgb(13, 235, 91);
  border-radius: 15px;
  
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: color: hsl(186, 97%, 50%);
  font-size: 18px;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
  
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: rgb(17, 177, 73);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

.setting {
  color:rgb(4, 255, 4);
}

button {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}



#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0cfc1;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

.setting p {
  color: red;
  font-style: italic;
  font-weight: 200;
  font-size:small;
  margin: 0;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
